.video-record {
  width: 100%;
  min-height: 350px;
  margin-top: 2px;
  border: 1px solid black;
}

.btnRecord {
  cursor: pointer;
  display: block;
  width: 160px;
  border: 1px solid black;
  font-size: 10px;
  text-align: center;
  color: white;
  background-color: darkgreen;
  text-decoration: none;
}

.object{
  position: absolute;
  top: 10%;
  left: 24%;
  z-index: 1000;
  outline: solid red 1px;
  outline-offset: -5px;
  width: 256px;
  height: 256px;
  color: white;
  margin: 5px;
  padding: 10px;
}